{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block header %}

<h4 id="event-title">Upcoming Events</h4>

<hr>
<div class="row">
        <div class="small-6 small-centered text-center columns">
                <a href="/post" class="button">Create Event</a>
        </div>
</div>

<div class="grid-x grid-margin-x small-up-2 medium-up-2 large-up-4">
        <!-- While this view is executing, self.object_list will contain the list of objects that the view is operating upon.-->
        {% for post in object_list %}
        <div class="cell">
                <h5>{{ post.title }}</h5>
                <p>{{post.description}}</p>
                <p>{{post.published_date}}</p>
                <p>{{post.created_date}}</p>
                <div class="event-container">
                        <img class="thumbnail" src="{{ post.cover.url}}" alt="{{ post.title }}">
                        <div class="event-bottom-left">{{post.current_volunteers}}/{{post.max_volunteers}}</div>
                        <div class="event-bottom-right">{{post.status}}</div>
                </div>
                <a href="#" class="button expanded">Sign Up</a>
        </div>
        {% endfor %}
</div>

{% endblock %}

{% block scripts %}

{% endblock %}