{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block header %}

<h1>Submit a Photo</h1>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
      <div class="large-12 columns">
          <label>Title
              <input name="title" required="" id="id_title" type="text" placeholder="Title" />
          </label>
      </div>
  </div>
  <p><label for="id_cover">Cover:</label> <input type="file" name="Image" accept="photo/*" required="" id="id_cover"></p>
  <button type="submit" class="alert button">Submit</button>
  </form>


{% endblock %}

{% block scripts %}

{% endblock %}