<!doctype html>
{% load static %}
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "foundation/css/app.css" %}">

    <!-- Project Stylesheet -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block head %}
    {% endblock %}

  </head>
  <body>
      <div class="top-bar">
          <div class="top-bar-center">
              <ul class="menu">
                  <li><a href="/">Home</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="philanthropy">Philanthropy</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Log In</a></li>
                  <li><a href="#">My Account</a></li>
              </ul>
          </div>
      </div>
    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    <script src="{% static "foundation/js/vendor/jquery.js" %}"></script>
    <script src="{% static "foundation/js/vendor/what-input.js" %}"></script>
    <script src="{% static "foundation/js/vendor/foundation.js" %}"></script>
    <script src="{% static "foundation/js/app.js" %}"></script>

    {% block scripts %}
    {% endblock %}
  </body>
</html>