<!doctype html>
{% load static %}
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    <link rel="stylesheet" href="{% static "css/hover.css" %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Project Stylesheet -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block head %}
    {% endblock %}

  </head>
  <body>
      <img src="../static/Images/TKENewLOGO.png" id="TKENewLOGO">
      <div class="top-bar">
          <div class="top-bar-center">
              <ul class="menu">
                  <li>
                    <a href="/" class="hvr-underline-from-center">Home</a>
                  </li>
                  <li>
                    <a href="#" class="hvr-underline-from-center">About Us</a>
                  </li>
                  <li>
                    <a href="/philanthropy" class="hvr-underline-from-center">Philanthropy</a>
                  </li>
                  <li>
                    <a href="#" class="hvr-underline-from-center">Contact Us</a>
                  </li>
                  <li>
                    <a href="/admin" class="hvr-underline-from-center">Log In</a>
                  </li>
                  <li>
                    <a href="#" class="hvr-underline-from-center">My Account</a>
                  </li>
              </ul>
          </div>
      </div>
    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="footer-distributed">

        <div class="footer-left">
  
            <img src="../static/Images/TKE-Logo.png" >
  
          <p class="footer-links">
            <a href="#" class="link-1">Home</a>
          
            <a href="#">About Us</a>
          
            <a href="#">Philanthropy</a>
            
            <a href="#">Contact Us</a>
            
            <a href="#">Log In</a>

            <a href="#">My Account</a>
          </p>
  
          <p class="footer-company-name">2019 © All Rights Reserved. <a href="#">Member Privacy</a> </p>
        </div>
  
        <div class="footer-center">
  
          <div>
            <i class="fa fa-map-marker"></i>
            <p><span>7439 Woodland Drive Suite 100</span> Indianapolis, IN 46278</p>
          </div>
  
          <div>
            <i class="fa fa-phone"></i>
            <p>+(317) 872-6533</p>
          </div>
  
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:tkeogc@tke.org">tkeogc@tke.org</a></p>
          </div>
  
        </div>
  
        <div class="footer-right">
  
          <p class="footer-company-about">
            <h4>About <span>TKE</span></h4>
            <div id="about-font">Founded on January 10, 1899, Tau Kappa Epsilon is one of the largest collegiate men’s social fraternities in North America with over 286,000 initiated members and 233 active chapters and colonies. TKE’s mission is to aid men in their mental, moral and social development for life. With nearly 12,000 collegiate members, Tau Kappa Epsilon contributes to the advancement of society through the personal growth of our members, and service to others. TKE builds Better Men for a Better World.</div>
          </p>
  
          <div class="footer-icons">
  
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
  
          </div>
  
        </div>
  
      </footer>
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/what-input.js" %}"></script>
    <script src="{% static "js/vendor/foundation.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>